server:
  port: 8081

spring:
  application:
    name: flight-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/flight_db
      database: flight_db
  main:
    web-application-type: reactive

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

# API version
api:
  version: v1
